[Desktop Entry]
Name=Mouse And Touchpad Settings
Comment=Set your mouse and touchpad preferences
Exec=xfce4-mouse-settings
Icon=input-mouse
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
