[Desktop Entry]
Name=Flash Player
Comment=Pepper Flash Plugin Details
Exec=xdg-open /usr/share/licenses/chromium-pepper-flash/license.html
Icon=pepperflashplayer
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;