[Desktop Entry]
Type=Application
Exec=pamac-updater
Name=System Updates
Categories=GTK;GNOME;Settings;
Icon=system-software-update
Comment=Change when and how updates happen