favorites=chromium.desktop,Thunar.desktop
recent=xscreensaver-properties.desktop,lxsession-default-apps.desktop,xfce-mouse-settings.desktop,pamac-manager.desktop,chromium.desktop
button-title=Applications
button-icon=/home/midfingr/.icons/chromeos_apps_list_button_1.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
hover-switch-category=true
category-icon-size=1
load-hierarchy=false
recent-items-max=5
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=false
menu-width=400
menu-height=500
menu-opacity=70
command-settings=control_panel
show-command-settings=true
command-lockscreen=lxlock
show-command-lockscreen=true
command-switchuser=yad-logout
show-command-switchuser=true
command-logout=yad-shutdown
show-command-logout=true
command-menueditor=xame
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

